server {
  listen 9090;
  location / {
      proxy_pass http://localhost:8081;
  }

  location /top {
      proxy_pass http://localhost:8080;
  }

  location /login {
        proxy_pass http://localhost:8080;
  }

 location /registration {
        proxy_pass http://localhost:8080;
 }

 location /logout {
         proxy_pass http://localhost:8080;
  }

}
